$tiles: 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048;

@each $tile in $tiles {
  .tile.tile-#{$tile} .tile-inner {
    background-image: url('../img/#{$tile}.webp');
    background-size: contain;
    font-size: 0;
    color: white;
    &:hover {
      font-size: 55px;
    }
  }
}

&.paused .tile-inner {
  background-image: none !important;
}
